<p><%= @contact.name %></p>
<p><%= @contact.email %></p>
<p><%= @contact.cell %></p>
<p><%= @contact.address %></p>
Thank you Mr.<%= @contact.name %> for Registering and we will contact you soon.... :)
